In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -mkdir /tmp/drivers

In [3]:
!hdfs dfs -ls /tmp/drivers/*

ls: `/tmp/drivers/*': No such file or directory

In [4]:
!hdfs dfs -tail /tmp/drivers/tbl0.csv

tail: `/tmp/drivers/tbl0.csv': No such file or directory

In [5]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 STRING,
    c5 STRING, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH "tbl0.csv" OVERWRITE INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 14.58 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 STRING,
    c5 STRING,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.206 seconds
LOAD DATA LOCAL INPATH "tbl0.csv" OVERWRITE INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 2.432 seconds

In [11]:
%%hive
SELECT * FROM tbl0;

SELECT * FROM tbl0;
OK
1	D	4	2016-06-25	a:e:c:d	{"bb":10,"dd":20,"cc":40}
2	C	4	2015-05-14	a:c	{"dd":40,"bb":20,"cc":10}
3	D	6	2014-12-26	b:d	{"aa":10,"bb":40}
4	D	5	2016-06-25	a:c:e:b:d	{"bb":40,"dd":20,"aa":10,"cc":30}
5	C	7	2016-05-23	d:e:c	{"cc":10,"aa":20}
6	A	2	2018-06-14	a:d	{"aa":20}
7	B	3	2014-12-22	a:e:d	{"cc":20}
8	C	6	2015-08-20	d:a:c:e	{"cc":10,"aa":20}
9	B	3	2017-12-08	b:a:c:e	{"cc":40,"dd":10,"aa":30,"bb":20}
10	B	7	2015-07-28	c:d:e:a:b	{"aa":10,"dd":40,"cc":30}
Time taken: 0.315 seconds, Fetched: 10 row(s)

In [19]:
%%hive
SELECT c2, concat_ws('#',COLLECT_LIST(cast(c6 AS INT))) c6
FROM tbl0
GROUP BY c2;

SELECT c2, concat_ws('#',COLLECT_LIST(cast(c6 AS INT))) c6
FROM tbl0
GROUP BY c2;
FAILED: ClassCastException org.apache.hadoop.hive.serde2.typeinfo.MapTypeInfo cannot be cast to org.apache.hadoop.hive.serde2.typeinfo.PrimitiveTypeInfo