In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -mkdir /tmp/drivers

In [3]:
!hdfs dfs -ls /tmp/drivers/*

ls: `/tmp/drivers/*': No such file or directory

In [4]:
!hdfs dfs -tail /tmp/drivers/data.tsv

tail: `/tmp/drivers/data.tsv': No such file or directory

In [53]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 STRING, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 0.157 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 STRING,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 0.065 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.239 seconds

In [54]:
%%hive
SELECT * FROM t0;

SELECT * FROM t0;
OK
E	b,g,f	{"jjj":3,"bbb":0,"ddd":9,"ggg":8,"hhh":2}
A	a,f,c	{"ccc":2,"ddd":0,"aaa":3,"hhh":9}
B	f,e,a,c	{"ddd":2,"ggg":5,"ccc":6,"jjj":1}
A	a,b	{"hhh":9,"iii":5,"eee":7,"bbb":1}
C	f,g,d,a	{"iii":6,"ddd":5,"eee":4,"jjj":3}
A	c,d	{"bbb":2,"hhh":0,"ccc":4,"fff":1,"aaa":7}
A	g,d,a	{"aaa":5,"fff":8,"ddd":2,"iii":0,"jjj":7,"ccc":1}
B	b,a	{"fff":3,"hhh":1,"ddd":2}
E	d,e,a,f	{"eee":4,"ccc":5,"iii":9,"fff":7,"ggg":6,"bbb":0}
B	d,b,g,f	{"bbb":7,"jjj":9,"fff":5,"iii":4,"ggg":2,"eee":3}
C	d,c,f,b	{"hhh":6,"eee":4,"iii":0,"fff":2,"jjj":1}
C	d,e,a,c	{"bbb":7,"iii":6,"ggg":9}
D	g,e,f,b	{"bbb":9,"aaa":3,"ccc":6,"fff":4,"eee":2}
E	c,f	{"aaa":8,"ddd":5,"jjj":1}
B	d,b	{"ccc":0,"jjj":6,"fff":7,"ddd":3,"aaa":2}
D	f,e	{"ccc":0,"eee":6,"bbb":9,"ddd":3}
E	e,b,f	{"bbb":6,"iii":3,"hhh":5,"fff":4,"ggg":9,"ddd":2}
D	g,a	{"hhh":4,"jjj":5,"ccc":9}
E	e,c,f,a	{"ccc":1,"iii":6,"fff":9}
E	e,a	{"bbb":9,"aaa":3,"fff":1}
E	e,f	{"ddd":9,"iii":2,"aaa":4}
E	c,b,g	{"ccc":5,"fff":8,"iii":7}
D	c,f,a	{"eee":3,"jjj":2,"ddd":7}
A	f,a,d	{"jjj":1,"ggg":0,"ccc":7,"ddd":9,"bbb":3}
E	c,d	{"jjj":6,"ccc":0,"aaa":1,"hhh":9,"iii":7,"ggg":8}
E	e,d,c	{"fff":3,"eee":6,"iii":4,"bbb":7,"ddd":0,"ccc":1}
A	a,e,f	{"fff":0,"ddd":5,"ccc":4}
E	c,a,g	{"ggg":6,"hhh":3,"ddd":9,"ccc":0,"jjj":7}
A	f,e	{"hhh":6,"jjj":0,"eee":5,"iii":7,"ccc":3}
C	f,c,a,g	{"eee":1,"fff":4,"aaa":2,"ccc":7,"ggg":0,"ddd":6}
A	b,f	{"ccc":6,"aaa":9,"eee":5,"ddd":0,"bbb":3}
D	b,f	{"bbb":7,"hhh":1,"aaa":6,"iii":4,"fff":9,"ddd":5}
E	a,c	{"fff":3,"ccc":1,"ggg":2,"eee":5}
B	b,f,c	{"iii":7,"ggg":3,"ddd":0,"jjj":8,"hhh":5,"ccc":1}
B	f,a,e	{"hhh":6,"ccc":3,"jjj":0,"bbb":8,"ddd":7}
D	a,f	{"aaa":0,"fff":5,"ddd":3}
B	c,a	{"ddd":5,"jjj":2,"iii":7,"ccc":0,"bbb":4}
C	c,a,e,f	{"eee":0,"fff":2,"hhh":6}
E	e,d	{"fff":9,"iii":2,"eee":0}
E	f,a,d	{"hhh":8,"ggg":3,"jjj":5}
Time taken: 0.253 seconds, Fetched: 40 row(s)

In [57]:
%%hive
SELECT   tf2, tf1.key, count (tf1.key)
FROM t0  
lateral view explode(split(c2, '\\,')) lv as tf2
lateral view explode(c3) tf1
GROUP BY  tf2, tf1.key;

SELECT   tf2, tf1.key, count (tf1.key)
FROM t0
lateral view explode(split(c2, '\\,')) lv as tf2
lateral view explode(c3) tf1
GROUP BY  tf2, tf1.key;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200208212906_7a745bd5-d1cb-4ea7-8d3f-909d3aadde49
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581193942430_0013, Tracking URL = http://e8ad6d4b1ea8:8088/proxy/application_1581193942430_0013/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581193942430_0013
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-08 21:29:16,764 Stage-1 map = 0%,  reduce = 0%
2020-02-08 21:29:23,422 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.53 sec
2020-02-08 21:29:30,066 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 6.08 sec
MapReduce Total cumulative CPU time: 6 seconds 80 msec
Ended Job = job_1581193942430_0013
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 6.08 sec   HDFS Read: 14893 HDFS Write: 1500 SUCCESS
Total MapReduce CPU Time Spent: 6 seconds 80 msec
OK
a	aaa	5
a	bbb	7
a	ccc	13
a	ddd	13
a	eee	7
a	fff	10
a	ggg	8
a	hhh	8
a	iii	7
a	jjj	10
b	aaa	4
b	bbb	7
b	ccc	5
b	ddd	7
b	eee	5
b	fff	8
b	ggg	4
b	hhh	7
b	iii	7
b	jjj	5
c	aaa	5
c	bbb	4
c	ccc	12
c	ddd	9
c	eee	6
c	fff	8
c	ggg	7
c	hhh	7
c	iii	8
c	jjj	8
d	aaa	4
d	bbb	6
d	ccc	7
d	ddd	5
d	eee	6
d	fff	8
d	ggg	6
d	hhh	4
d	iii	9
d	jjj	8
e	aaa	3
e	bbb	8
e	ccc	9
e	ddd	7
e	eee	7
e	fff	9
e	ggg	4
e	hhh	4
e	iii	8
e	jjj	3
f	aaa	8
f	bbb	10
f	ccc	13
f	ddd	17
f	eee	11
f	fff	11
f	ggg	9
f	hhh	10
f	iii	10
f	jjj	12
g	aaa	3
g	bbb	3
g	ccc	6
g	ddd	5
g	eee	4
g	fff	5
g	ggg	4
g	hhh	3
g	iii	4
g	jjj	6
Time taken: 25.289 seconds, Fetched: 70 row(s)

In [56]:

%%hive
SELECT   tf2
FROM t0  
lateral view explode(split(c2, '\\,')) lv as tf2
GROUP BY  tf2;

SELECT   tf2
FROM t0
lateral view explode(split(c2, '\\,')) lv as tf2
GROUP BY  tf2;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200208212817_327c1936-bba1-47a0-9bd4-6f7452a9efd5
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581193942430_0012, Tracking URL = http://e8ad6d4b1ea8:8088/proxy/application_1581193942430_0012/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581193942430_0012
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-08 21:28:27,224 Stage-1 map = 0%,  reduce = 0%
2020-02-08 21:28:35,120 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.76 sec
2020-02-08 21:28:42,978 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 6.8 sec
MapReduce Total cumulative CPU time: 6 seconds 800 msec
Ended Job = job_1581193942430_0012
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 6.8 sec   HDFS Read: 11662 HDFS Write: 185 SUCCESS
Total MapReduce CPU Time Spent: 6 seconds 800 msec
OK
a
b
c
d
e
f
g
Time taken: 27.986 seconds, Fetched: 7 row(s)